<!-- events/view.html -->

{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div>
            <h1>Welcome to {{ object.title }}!</h1>
        </div>
        <div class="content-section">
            {% if not hosting %}
            <h2>
                Who?
            </h2>
            <p class="muted">
                Hosted by {{ object.host.first_name }} {{ object.host.last_name }} (<a href="{% url 'user-view' object.host.id %}">{{ object.host.username }}</a>)
            </p>
            {% else %}
            <h2>
                Who?
            </h2>
            <h4>
                Attending:
            </h4>
            <p class="muted">
                {% for invitation in invitations_attending %}
                    <p>
                        {{ invitation.guest.first_name }} {{ invitation.guest.last_name }}  : {% if invitation.food %} bringing {{ invitation.food }} {% else %} bringing nothing {% endif %}
                    </p>
                {% endfor %}
            </p>
            <h4>
                Not Attending:
            </h4>
            <p class="muted">
                {% for invitation in invitations_not_attending %}
                    <p>
                        {{ invitation.guest.first_name }} {{ invitation.guest.last_name }} ({{ invitation.guest }})
                    </p>
                {% endfor %}
            </p>
            <h4>
                Not Responded:
            </h4>
            <p class="muted">
                {% for invitation in invitations_unresponsive %}
                    <p>
                        {{ invitation.guest.first_name }} {{ invitation.guest.last_name }} ({{ invitation.guest }})
                    </p>
                {% endfor %}
            </p>
            <h4>
                Dietary Restrictions:
            </h4>
            <p class="muted">
                {% for restriction in restrictions %}
                    <p>
                        {{ restriction }}
                    </p>
                {% endfor %}
            </p>
            <a href="{% url 'event-update' object.id %}">Edit guest list here!</a>
            {% endif %}
        </div>
        {% if not hosting and RSVP_replied %}
        <div class="content-section">
            <h2>
                What?
            </h2>
            {% if food %}
                <h4 class="muted">
                    You are signed up to bring:
                </h4>
                <p>
                    {{ food }}
                </p>
            {% else %}
                <h4 class="muted">
                    You are not signed up to bring anything.
                </h4>
                <p>
                    <a href="{% url 'event-response-food' invitation_id %}">Sign up here.</a>
                </p>
            {% endif %}
        </div>
        {% endif %}
        <div class="content-section">
            <h2>
                Where?
            </h2>
            <p class="muted">
                {{ object.event_location }}
            </p>
        </div>
        <div class="content-section">
            <h2>
                When?
            </h2>
            <p class="muted">
                {{ object.event_date|date:"F d, Y" }} at {{ object.event_time|date:"P" }}
            </p>
        </div>
        {% if not hosting %}
        <div class="content-section">
            <h2>RSVP</h2>
            {% if not RSVP_replied %}
                <h4>
                    Please RSVP by {{ object.RSVP_date|date:"F d, Y" }}.
                </h4>
                <p>
                    <a href="{% url 'event-response' RSVP_id %}">RSVP here!</a>
                </p>
            {% else %}
                <p>
                    You have already replied to this event.
                </p>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock content %}
