[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-smtp-ssl = "*"
django = "*"
django-taggit = "*"
aa73b93 = {path = "./django-taggit-live"}

[requires]
python_version = "3.6"
