{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    {% if tags %}
    <div class="content">
        <h4>The following categories are open.</h4>
        <ul>
        {% for tag in tags %}
            <li>{{ tag }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Select a food to bring to {{ event }}.</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Choose food</button>
        </div>
    </form>
</div>
{% endblock %}
